# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
TestResults/
*.exe
*.dll
*.pdb

# Rider
.idea/

# NuGet
*.nupkg
packages/
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Coverlet / code coverage
coverage.opencover.xml
coverage.json
coverage/

# Others
*.vsix
*.cache
